**/.vs
**/.vscode
**/bin
**/obj
**/.git
**/.gitignore
**/.gitattributes
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/*.md
**/*.user
**/*.suo
**/.DS_Store
**/node_modules
**/npm-debug.log
**/.env
**/logs
